/*
=============== 
Hero
===============
*/

/* underline added to globals */
.hero {
    /* margin-top: -5rem; */
    margin-top: 0rem;
    padding-top: 5rem;
    height: 100vh;
    background: lightblue;
    position: relative;
  }
  
  .hero-center {
    height: 80%;
    display: grid;
    align-items: center;
  }
  
  .hero .underline {
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
  
  .hero-info {
    background: lightblue;
  }
  
  .hero-img {
    /* display: none; */
  }
  
  .hero-img-2 {
    /* display: none; */
  }
  
  .hero-img {
    /* display: none; */
  }
  
  .hero-info h4 {
    color: var(--clr-grey-5);
  }
  
  .hero-icons {
    justify-items: flex-start;
  }
  
  .hero .btn {
    margin-top: 1.25rem;
  }
  
  
  /* ### */
  @media screen and (min-width: 992px) {
    .hero::before {
      content: "";
      position: absolute;
      top: 0;
      left: 60%;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom right, #ADD8E6, #76C3F2);
  
    }
  
    /* ### */
  
    .hero-center {
      grid-template-columns: repeat(12, 1fr);
    }
  
    .hero h4 {
      font-size: 0.85rem;
    }
  
    .hero-info {
      grid-row: 1/1;
      grid-column: 1 / span 8;
    }
  
    .hero-info1 {
      grid-row: 1/1;
      grid-column: 1 / span 6;
    }
  
    .hero-img {
      display: block;
      grid-row: 1/1;
      grid-column: 7/-1;
    }
  
    .hero-img8 {
      margin-top: 20px;
  
    }
  
    .hero-img-2 {
      width: 100%;
      position: relative;
      display: block;
      grid-row: 1/1;
      grid-column: 7/-1;
    }
  }
  
  .hero-img8 {
    /* margin-top: 20px; */
    width: 50%
  }
  
  @media screen and (max-width: 450px) {
    .hero-img8 {
      margin-top: 100px;
      width: 85%;
    }
  }
  
  @media screen and (min-width: 1170px) {
    .hero h4 {
      font-size: 1rem;
    }
  
    .hero-info {
      grid-column: 1 / span 8;
    }
  
    .hero h4 {
      line-height: 1;
    }
  }