/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/
:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(184, 91%, 17%);
  --clr-primary-2: hsl(185, 84%, 25%);
  --clr-primary-3: hsl(185, 81%, 29%);
  --clr-primary-4: hsl(184, 77%, 34%);
  --clr-primary-5: #2caeba;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(185, 57%, 50%);
  --clr-primary-7: hsl(184, 65%, 59%);
  --clr-primary-8: hsl(184, 80%, 74%);
  --clr-primary-9: hsl(185, 94%, 87%);
  --clr-primary-10: hsl(186, 100%, 94%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-green-dark: hsl(125, 67%, 35%);
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-white: #fff;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 700px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,

::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin-top: 5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  /* margin-bottom: 0.75rem; */
  font-family: var(--ff-primary);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-primary-9);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn1 {
  text-transform: uppercase;
  background: white;
  color: black;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

.btn1:hover {
  color: var(--clr-primary-1);
  background: white;
}

.center-btn {
  display: block;
  width: 12rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.section {
  padding: 2rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .section-center {
    padding: 10px;
  }
}

.section1 {
  padding: 5rem 0;
}

.section-center1 {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (max-width: 900px) {
  .section-center1 {
    /* width: 95vw; */
    display: block;
    padding: 10px;
  }
}

.section2 {
  padding: 5rem 0;
}

.section-center2 {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .section-center2 {
    padding: 10px;
    width: 100%;
  }
}

/* added during recording */
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: var(--clr-primary-5);
  margin: auto;
}

.section-title {
  margin-top: 5rem;
  text-align: center;
}

.bg-grey {
  background: var(--clr-grey-10);
}

/* social links */
.social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.social-link {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
}

.social-link:hover {
  color: var(--clr-primary-5);
}

.social-links-web {
  margin-top: 2rem;
  width: 15rem;
  display: flex;
  justify-content: space-between;
}

.social-link-web {
  font-size: 1.75rem;
  color: var(--clr-grey-1);
  transition: var(--transition);
  margin: auto;
}

.social-link-web:hover {
  color: var(--clr-primary-5);
}


/*
===============
Pages
===============
*/

.project-template-page,
.projects-page,
.error-page,
.about-page,
.contact-page {
  background: var(--clr-grey-10);
  min-height: calc(100vh - 5rem - 9rem);
}

.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-primary-10);
  text-align: center;
}

.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}

/*
===============
Project Template Page
===============
*/

.project-template-page {
  padding-top: 3rem;
  text-align: center;
}

.project-template-page h2 {
  text-transform: uppercase;
}

.project-template-page p {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: lightblue;
  color: var(--clr-grey-3);
  padding: 1px;
  height: 70px;
  display: flex;
  align-items: center;
}

.header1 {
  background-color: lightblue;
  color: var(--clr-grey-3);
  padding: 1px;
  height: 70px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 868px) {
  [class*="header1"] {
    justify-content: center;
    height: auto;
  }
}

@media only screen and (max-width: 868px) {
  [class*="header1"] {
    text-align: center;
    height: auto;
  }
}

.menu li:hover {
  background-color: #0099cc;
}

*/ .aside {
  background-color: lightblue;
  padding: 1px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px #0000003d;
}

.aside1 {
  background-color: lightblue;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
}

.aside2 {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 1300px) {
  [class*="aside2"] {
    width: 100%;
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  [class*="aside2"] {
    width: 100%;
    display: block;
  }
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  [class*="col-"] {
    width: 100%;
  }
}

.title-web {
  margin-left: 20px;
}

@media only screen and (max-width: 868px) {
  [class*="title"] {
    text-align: center;
    margin-left: 0px;
  }
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1)
  }

  32% {
    color: var(--color-1)
  }

  33% {
    color: var(--color-2)
  }

  65% {
    color: var(--color-2)
  }

  66% {
    color: var(--color-3)
  }

  99% {
    color: var(--color-3)
  }

  100% {
    color: var(--color-1)
  }
}

.container1 {
  display: flex;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #6c757d;
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: #6c757d;
  display: flex;
  flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
}

.breadcrumb-item+.breadcrumb-item {
  padding-right: var(--bs-breadcrumb-item-padding-x);
}

.breadcrumb-item+.breadcrumb-item::before {
  float: right;
  padding-left: var(--bs-breadcrumb-item-padding-x);
  color: var(--bs-breadcrumb-divider-color);
  content: var(--bs-breadcrumb-divider, "/");
}

.breadcrumb-item.active {
  color: var(--bs-breadcrumb-item-active-color);
}

.h3-webdesign {

  margin: 40px auto;
}

.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

@font-face {
  font-family: Heavitas;
  src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot);
  src: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff2) format('woff2'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.woff) format('woff'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.ttf) format('truetype'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.svg#Heavitas) format('svg'),
    url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/1_fonts/Heavitas/Heavitas.eot?#iefix) format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.ag-maecenas_title {
  padding: 100px 0;
  background-color: #00a2ff;
  text-align: center;
  font-size: 30px;
  color: #FFF;
  position: relative;
}

.ag-maecenas_title:before {
  content: "";
  height: 125px;
  width: 100%;
  background: url(https://raw.githack.com/SochavaAG/example-mycode/master/pens/animation-wave-shadow/images/wave.svg) repeat-x scroll 0 0;
  -webkit-background-size: 1600px 198px;
  -moz-background-size: 1600px 198px;
  -o-background-size: 1600px 198px;
  background-size: 1600px 198px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
  filter: drop-shadow(5px -10px 3px rgba(0, 0, 0, .2));
  -webkit-animation: an-wave 20s linear infinite;
  -moz-animation: an-wave 20s linear infinite;
  -o-animation: an-wave 20s linear infinite;
  animation: an-wave 20s linear infinite;
}

@-webkit-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}

@-moz-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}

@-o-keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}

@keyframes an-wave {
  100% {
    background-position-x: -1600px;
  }
}

@media screen and (max-width: 979px) {
  .ag-maecenas_title {
    font-size: 90px;
  }

  .ag-maecenas_descr {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}

@media only screen and (max-width: 639px) {
  .ag-maecenas_title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 479px) {
  .ag-maecenas_title {
    font-size: 40px;
  }
}

@media (min-width: 868px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }
}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }
}

.h2-h4 {
  width: 450px;
}

@media only screen and (max-width: 400px) {
  .h2-h4 {
    width: 350px;
  }
}

.gatsby-image-wrapper img {
  width: 100%;
  height: 100%;
  margin: auto;
}

@media only screen and (max-width: 400px) {
  .gatsby-image-wrapper img {
    margin: auto;
  }
}

.webdevelopment-stack {
  width: 350px;
}

@media only screen and (max-width: 450px) {
  .webdevelopment-stack {
    margin: auto
  }
}

.adobe5 {
  display: flex;
}

@media only screen and (max-width: 450px) {
  .adobe5 {
    display: grid;
  }
}

.img-adobe {
  width: 50%;
}

@media only screen and (max-width: 450px) {
  .img-adobe {
    width: 100%;
  }
}